/* .btn-add {
    float: left;
    width: 150px;
    height: 40px;
}

.button-desing {
    height: 50px;
    display: flex;
    justify-content: end;
} */

:host ::ng-deep .ck-editor {
    min-height: 300px !important;
    max-height: 300px !important;
    min-width: 900px !important;
    max-width: 900px !important;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px !important;
    max-height: 300px !important;
    min-width: 900px !important;
    max-width: 900px !important;
}

label {
    display: block !important;
    margin: 0 !important;
}

textarea {
    resize: none !important;
    width: 100%;
    height: 102px;
}

mat-form-field {
    width: 100%;
}

.list-group-item {
    padding: .15rem .1rem !important;
}

.badge {
    position: relative !important;
    bottom: 2px !important;
}